DirectoryIndex index.html index.htm index2.html index.php

ErrorDocument 403 https://www.corehacked.cf/403/
ErrorDocument 404 https://www.corehacked.cf/404/
ErrorDocument 500 https://www.corehacked.cf/500/

RewriteEngine On
RewriteCond %{HTTP_HOST} !^(www\.|$) [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
