*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #313131;
}

/* Handle on hover */
/*--------------------------------------------- */
body {
  height: 100vh;
  background-color: #000;
}

.view-src {
  text-decoration: none;
  color: #414141;
}

.view-src:hover {
  color: #f03e3e;
  text-decoration: underline;
}

.info {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.about {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: #fff;
  font-family: Unica One, sans-serif;
}

@media screen and (max-width: 238px) {
  .about {
    height: 110vh;
  }
}

@media screen and (max-width: 190px) {
  .about {
    height: 160vh;
  }
}

.about .about-hi {
  font-size: 5em;
}

@media screen and (max-width: 1019px) {
  .about .about-hi {
    font-size: 4.9em;
  }
}

@media screen and (max-width: 998px) {
  .about .about-hi {
    font-size: 4.8em;
  }
}

@media screen and (max-width: 978px) {
  .about .about-hi {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 917px) {
  .about .about-hi {
    font-size: 4.2em;
  }
}

@media screen and (max-width: 855px) {
  .about .about-hi {
    font-size: 4em;
  }
}

@media screen and (max-width: 815px) {
  .about .about-hi {
    font-size: 3em;
  }
}

@media screen and (max-width: 611px) {
  .about .about-hi {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 509px) {
  .about .about-hi {
    font-size: 2em;
  }
}

@media screen and (max-width: 649px) {
  .about {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 541px) {
  .about {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 316px) {
  .about {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.about a {
  text-decoration: none;
}

.about a:hover {
  border: 2px solid #f03e3e;
  border-radius: 50%;
}

.contactme {
  text-decoration: underline !important;
  color: #919191;
}

.contactme:hover {
  text-decoration: underline;
  border: none !important;
  color: #f03e3e;
  -webkit-text-decoration-color: #f03e3e;
          text-decoration-color: #f03e3e;
}

.about-portfolio {
  text-decoration: underline !important;
  -webkit-text-decoration-color: #f03e3e !important;
          text-decoration-color: #f03e3e !important;
  color: #919191;
  font-size: 20pt;
  padding: 8px;
}

.about-portfolio:hover {
  border: none !important;
  border-radius: 5px !important;
  color: #fff;
  text-shadow: #f03e3e 0px 0px 10px;
}

.glitch-bloc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glitchedAnim, .invisible-text {
  font-family: Unica One, sans-serif;
  font-size: 100px;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .glitchedAnim, .invisible-text {
    font-size: 50px;
  }
}

.glitchedAnim {
  position: absolute;
  top: 0;
  opacity: 0.9;
}

.invisible-text {
  visibility: hidden;
}

.glitchedAnim:nth-child(2) {
  color: #f03e3e;
  -webkit-animation: skewAnim 3s infinite;
          animation: skewAnim 3s infinite;
}

.glitchedAnim:nth-child(3) {
  color: #3df0cf;
  -webkit-animation: glitchAnim2 3s infinite;
          animation: glitchAnim2 3s infinite;
}

.glitchedAnim:nth-child(4) {
  color: #f1f1f1;
  -webkit-animation: glitchAnim1 3s infinite;
          animation: glitchAnim1 3s infinite;
}

.txt-info {
  font-family: Unica One, sans-serif;
  color: #f1f1f1;
  font-size: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #414141;
  text-align: center;
  font-size: 18px;
  font-family: Unica One, sans-serif;
  padding: 20px;
}

.link-cont {
  position: fixed;
  font-size: 24px;
  top: 0;
}

.link {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #414141;
  text-align: center;
  font-family: Unica One, sans-serif;
  font-size: 25px;
  margin-right: 8px;
}

.link:hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #e0efec;
  text-shadow: #f03e3e 0px 0px 10px;
  text-align: center;
}

.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0;
}

.inner-wrapper {
  position: relative;
  display: inline-block;
}

.hover-1:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #f03e3e;
  text-shadow: #3df0cf 0px 0px 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hover-1:hover:after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header {
  background: #000;
  position: fixed;
  height: 60px;
  z-index: 100;
  width: 100%;
  top: 0;
}

.contact-page {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: #fff;
  font-family: Unica One, sans-serif;
}

@media screen and (max-width: 238px) {
  .contact-page {
    height: 110vh;
  }
}

@media screen and (max-width: 190px) {
  .contact-page {
    height: 160vh;
  }
}

@media screen and (max-width: 649px) {
  .contact-page {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 541px) {
  .contact-page {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 316px) {
  .contact-page {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.contact-page a {
  text-decoration: none;
  color: #f03e3e;
}

.contact-page a:hover {
  text-decoration: underline;
}

.contact-page .glitchedAnim, .contact-page .invisible-text {
  font-size: 100px !important;
}

@media screen and (max-width: 386px) {
  .contact-page .glitchedAnim, .contact-page .invisible-text {
    font-size: 75px !important;
  }
}

@media screen and (max-width: 304px) {
  .contact-page .glitchedAnim, .contact-page .invisible-text {
    font-size: 60px !important;
  }
}

@-webkit-keyframes glitchAnim1 {
  7% {
    -webkit-transform: none;
            transform: none;
  }
  10% {
    -webkit-transform: translate(6px, -2px);
            transform: translate(6px, -2px);
  }
  13% {
    -webkit-transform: none;
            transform: none;
  }
  20% {
    -webkit-transform: none;
            transform: none;
  }
  23% {
    -webkit-transform: translate(-12px, -7px);
            transform: translate(-12px, -7px);
  }
  26% {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: none;
            transform: none;
  }
  43% {
    -webkit-transform: translate(10px, -9px);
            transform: translate(10px, -9px);
  }
  46% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: none;
            transform: none;
  }
  68% {
    -webkit-transform: translate(7px, 5px);
            transform: translate(7px, 5px);
  }
  71% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes glitchAnim1 {
  7% {
    -webkit-transform: none;
            transform: none;
  }
  10% {
    -webkit-transform: translate(6px, -2px);
            transform: translate(6px, -2px);
  }
  13% {
    -webkit-transform: none;
            transform: none;
  }
  20% {
    -webkit-transform: none;
            transform: none;
  }
  23% {
    -webkit-transform: translate(-12px, -7px);
            transform: translate(-12px, -7px);
  }
  26% {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: none;
            transform: none;
  }
  43% {
    -webkit-transform: translate(10px, -9px);
            transform: translate(10px, -9px);
  }
  46% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: none;
            transform: none;
  }
  68% {
    -webkit-transform: translate(7px, 5px);
            transform: translate(7px, 5px);
  }
  71% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes glitchAnim2 {
  7% {
    -webkit-transform: none;
            transform: none;
  }
  10% {
    -webkit-transform: translate(-6px, 2px);
            transform: translate(-6px, 2px);
  }
  13% {
    -webkit-transform: none;
            transform: none;
  }
  20% {
    -webkit-transform: none;
            transform: none;
  }
  23% {
    -webkit-transform: translate(12px, 7px);
            transform: translate(12px, 7px);
  }
  26% {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: none;
            transform: none;
  }
  43% {
    -webkit-transform: translate(-10px, 9px);
            transform: translate(-10px, 9px);
  }
  46% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: none;
            transform: none;
  }
  68% {
    -webkit-transform: translate(-7px, 5px);
            transform: translate(-7px, 5px);
  }
  71% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes glitchAnim2 {
  7% {
    -webkit-transform: none;
            transform: none;
  }
  10% {
    -webkit-transform: translate(-6px, 2px);
            transform: translate(-6px, 2px);
  }
  13% {
    -webkit-transform: none;
            transform: none;
  }
  20% {
    -webkit-transform: none;
            transform: none;
  }
  23% {
    -webkit-transform: translate(12px, 7px);
            transform: translate(12px, 7px);
  }
  26% {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: none;
            transform: none;
  }
  43% {
    -webkit-transform: translate(-10px, 9px);
            transform: translate(-10px, 9px);
  }
  46% {
    -webkit-transform: none;
            transform: none;
  }
  65% {
    -webkit-transform: none;
            transform: none;
  }
  68% {
    -webkit-transform: translate(-7px, 5px);
            transform: translate(-7px, 5px);
  }
  71% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes skewAnim {
  20% {
    -webkit-transform: none;
            transform: none;
  }
  23% {
    -webkit-transform: skew(5deg, -5deg) translate(10px, 5px);
            transform: skew(5deg, -5deg) translate(10px, 5px);
  }
  26% {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: none;
            transform: none;
  }
  43% {
    -webkit-transform: skew(5deg, -10deg) translate(-5px, 2px);
            transform: skew(5deg, -10deg) translate(-5px, 2px);
  }
  46% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes skewAnim {
  20% {
    -webkit-transform: none;
            transform: none;
  }
  23% {
    -webkit-transform: skew(5deg, -5deg) translate(10px, 5px);
            transform: skew(5deg, -5deg) translate(10px, 5px);
  }
  26% {
    -webkit-transform: none;
            transform: none;
  }
  40% {
    -webkit-transform: none;
            transform: none;
  }
  43% {
    -webkit-transform: skew(5deg, -10deg) translate(-5px, 2px);
            transform: skew(5deg, -10deg) translate(-5px, 2px);
  }
  46% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=main.css.map */